[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyobjc = "*"
pillow = "*"
rich = "*"
textual = "*"
geopy = "*"

[dev-packages]
textual-dev = "*"

[requires]
python_version = "3.14"
